@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700&subset=cyrillic');
/*+arial regular*/

body {
    background-image: url(../img/rough-horn-2146181_1920.jpg);
    height: 100%;
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    overflow: hidden;
    min-width: 420px;
}

.wraper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img.logo {
    display: block;
    margin: 25px 0 25px 25px;
    filter: opacity(60%);
}

header {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

img.logo:hover {
    animation: image_rotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes image_rotate {
    to {
        transform: rotate(360deg);
    }
}

nav {
    flex-basis: 50%;
}

nav ul li:hover {
    cursor: pointer;
    border-radius: 25px 0 25px 0;
    background-color: rgba(109, 109, 109, 0.59);
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #dbdbdb;
    font-size: 20px;
    font-weight: bold;
}

section a {
    text-decoration: none;
    color: #dbdbdb;
}

nav ul li {
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(224, 224, 224, 0);
    transition: all linear 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 25px 0 25px 0;
    margin-top:20%;
    background-color: rgba(109, 109, 109, 0.59);
    color: #dbdbdb;
    font-size: 17px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -100vh;
    transition: all ease-in-out 1s;
    line-height:150%;
}

.contacts {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 25px 0 25px 0;
    margin-top:20%;
    background-color: rgba(109, 109, 109, 0.59);
    color: #dbdbdb;
    font-size: 17px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -100vh;
    transition: all ease-in-out 1s;
    line-height:150%;
}

.portfolio {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border: 1px solid #dcdcdc;
    border-radius: 25px 0 25px 0;
    margin-top:20%;
    background-color: rgba(109, 109, 109, 0.59);
    color: #dbdbdb;
    font-size: 17px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -100vh;
    transition: all ease-in-out 1s;
    line-height:150%;
}