/*fonts*/
.react-audio-player {
  position: fixed;
  left: 10px;
  bottom: 10px; }
  @media (max-width: 400px) {
    .react-audio-player {
      display: none;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px; } }
