/*fonts*/
section.first-screen {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  min-height: calc(100vh - 70px);
  position: relative; }
  @media (max-width: 1024px) {
    section.first-screen {
      padding-bottom: 3rem; } }
  section.first-screen .container {
    padding-top: 10rem;
    z-index: 1;
    color: #2c2c2c; }
    @media (max-width: 767px) {
      section.first-screen .container {
        padding-top: 3rem; } }
    @media (max-width: 400px) {
      section.first-screen .container {
        padding-top: 13.2rem; } }
    section.first-screen .container .info__header-wrapper {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5.5rem; }
    section.first-screen .container p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-size: 2.2rem;
      line-height: 4.2rem;
      color: #2c2c2c;
      margin: 0; }
      section.first-screen .container p span {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 4.2rem;
        color: #2c2c2c; }
    section.first-screen .container h1 {
      margin: 0;
      margin-bottom: 5rem;
      font-family: 'Abril Fatface', cursive;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1rem;
      color: #2c2c2c;
      font-size: 5rem;
      line-height: 6.4rem;
      width: 40%; }
      @media (max-width: 767px) {
        section.first-screen .container h1 {
          margin-bottom: 2.5rem;
          font-size: 3rem; } }
      section.first-screen .container h1 span {
        display: inline-block;
        transform: translateY(0px);
        padding: 0 0 0 0.5rem; }
    section.first-screen .container h2 {
      margin: 15rem 0 4rem 0;
      line-height: 1.4;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      width: 40%; }
      @media (max-width: 767px) {
        section.first-screen .container h2 {
          font-size: 2rem;
          margin: 0 auto 3rem; } }
    section.first-screen .container h3 {
      margin: 0;
      font-size: 2.2rem; }
    section.first-screen .container .blocks-wrapper {
      margin-top: 20rem;
      display: flex;
      justify-content: space-around;
      align-items: flex-end; }
      section.first-screen .container .blocks-wrapper .text-wrapper {
        width: 40%; }
      section.first-screen .container .blocks-wrapper .second-info {
        width: 40%; }
