/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/source-sans-pro-v11-latin-300.eot");
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("./fonts/source-sans-pro-v11-latin-300.eot?#iefix") format("embedded-opentype"), url("./fonts/source-sans-pro-v11-latin-300.woff2") format("woff2"), url("./fonts/source-sans-pro-v11-latin-300.woff") format("woff"), url("./fonts/source-sans-pro-v11-latin-300.ttf") format("truetype"), url("./fonts/source-sans-pro-v11-latin-300.svg#SourceSansPro") format("svg"); }

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/source-sans-pro-v11-latin-600.eot");
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("./fonts/source-sans-pro-v11-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/source-sans-pro-v11-latin-600.woff2") format("woff2"), url("./fonts/source-sans-pro-v11-latin-600.woff") format("woff"), url("./fonts/source-sans-pro-v11-latin-600.ttf") format("truetype"), url("./fonts/source-sans-pro-v11-latin-600.svg#SourceSansPro") format("svg"); }

/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/abril-fatface-v9-latin-regular.eot");
  src: local("Abril Fatface"), local("AbrilFatface-Regular"), url("./fonts/abril-fatface-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/abril-fatface-v9-latin-regular.woff2") format("woff2"), url("./fonts/abril-fatface-v9-latin-regular.woff") format("woff"), url("./fonts/abril-fatface-v9-latin-regular.ttf") format("truetype"), url("./fonts/abril-fatface-v9-latin-regular.svg#AbrilFatface") format("svg"); }
