form
  margin-bottom: 200px
  p
    margin: 0
    padding: 20px 0 0 0
  input,
  textarea,
  button
    display: block
  button
    color: #2f247f
    background-color: #dcd22c
    transition: all ease .4s
    cursor: pointer
    border: none
    margin-top: 20px
    &:hover
      color: #dcd22c
      background-color: #2c2c2c
  .form-error
    font-size: 15px
    color: #E23137
    font-weight: bold
  .modal
    position: fixed
    z-index: 10
    background-color: #fff
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.modal-button
  color: #2f247f
  background-color: #dcd22c
  transition: all ease .4s
  cursor: pointer
  border: none
  margin-top: 20px
  &:hover
    color: #dcd22c
    background-color: #2c2c2c
