@import 'fonts.sass';
@import 'mixins.sass';
@import '~normalize.css/normalize.css';
@import 'preloader.sass';
@import 'header.sass';
@import 'first-screen.sass';
@import 'portfolio.sass';
@import 'contacts.sass';
@import 'photo-block.sass';

html
  font-size: 10px
body
  +ff(2.2, 4.2)
  overflow-x: hidden!important
  
.container
  max-width: 1199px
  margin: 0 auto
  padding: 0 2rem

  /* Safari */
::selection
  background: rgba(220, 210, 44, 0.3)
/* Firefox */
::-moz-selection
  background: rgba(220, 210, 44, 0.3)

.first-screen,
.contacts
  a
    text-decoration: none
    color: rgba(47, 36, 127, 1)
    background-color: rgba(220, 210, 44, 1)
    +t
    &:hover
      color: rgba(220, 210, 44, 1)
      background-color: rgba(44, 44, 44, 1.000)

.scroll-icon
  position: fixed
  height: 10rem
  width: 10rem
  bottom: 1rem
  left: 50%
  animation: scroll 3s ease-in-out infinite

@keyframes scroll
  0%
    transform: translate(-50%, -1rem)
  50%
    transform: translate(-50%, 1rem)
  100%
    transform: translate(-50%, -1rem)

/*all other*/
.text-hide-all
  overflow: hidden
.show-this-text,
.show-this-text2
  transform: translateY(100%)
  transition: all 1.5s ease
.show-text
  transform: translateY(0%)!important
/*portfolio*/
.show-text
  .text-hide > *
    transform: translateY(0%)!important