@import "mixins.sass"
section.portfolio
  position: relative
  min-height: calc(100vh - 70px)
  background: url('./img/photo2.jpg') center
  .container
    .intro
      padding-top: 5rem
      color: rgba(220, 210, 44, 1)
      h2
        font-size: 32px
        margin: 0
        
