/*fonts*/
section.portfolio {
  position: relative;
  min-height: calc(100vh - 70px);
  background: url("./img/photo2.jpg") center; }
  section.portfolio .container .intro {
    padding-top: 5rem;
    color: #dcd22c; }
    section.portfolio .container .intro h2 {
      font-size: 32px;
      margin: 0; }
